@using Resources

@Html.Raw(NotificationLocalization.RealisierteMassnahmeGISSavedWarning)

<a href="@Url.Action("Index", "ZustaendeUndMassnahmenvorschlaegeGIS", new {area = "NetzverwaltungGIS"})">MenuLocalization.NetzverwaltungGIS_ZustaendeUndMassnahmenvorschlaegeGIS_Index</a>

@*@Html.ActionLink(MenuLocalization.NetzverwaltungGIS_ZustaendeUndMassnahmenvorschlaegeGIS_Index,"Index", "ZustaendeUndMassnahmenvorschlaegeGIS",new { area = "NetzverwaltungGIS"})*@


