@using Resources
<div id="strassenabschnittEditFormDiv"
    data-create-action="@Url.Action("CreateStrassenabschnitt", "NetzdefinitionUndStrassenabschnittGIS")" 
     data-edit-action="@Url.Action("EditStrassenabschnitt", "NetzdefinitionUndStrassenabschnittGIS")"
    data-cancel-confirmation = "@Html.Raw(NotificationLocalization.CancelConfirmation)"
    >
</div>
