@using Resources
@using Kendo.Mvc.UI
<h2>@TitleLocalization.MengeProBelastungskategorieGrafischePageTitle</h2>
@ReportViewHelpers.ReportIndexContent(Html, (IEnumerable<DropDownListItem>)ViewBag.ClosedErfassungsperiods)
