@model ASTRA.EMSG.Business.Models.Administration.AndereBenutzerrollenEinnehmenModel
@using Resources

<h2>@TitleLocalization.AndereBenutzerrollenEinnehmenPageTitle</h2>
<b>
    @NotificationLocalization.AndereBenutzerrollenEinnehmenWasSuccessfull
</b>