
.RelatedTopics {
  line-height: 18px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 24px;
}

.CopyrightSpliter {
  border-top: 1px solid #D0D0D0;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
