<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="0.9.3" targetFramework="net40" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="ProjNet" version="1.2" targetFramework="net40" />
</packages>