@using ASTRA.EMSG.Business.Reports.NochNichtInspizierteStrassenabschnitte
@using ASTRA.EMSG.Common
@using ASTRA.EMSG.Common.Enums

@using Resources
@using Kendo.Mvc.UI
@using ASTRA.EMSG.Web.Infrastructure.HtmlHelperExtensions

@(Html.ToGridFilterBuilder<NochNichtInspizierteStrassenabschnitteParameter>()
                        .WithEnumFilter<EigentuemerTyp?, EigentuemerTyp>(f => f.Eigentuemer)
                        .WithTextFilter(f => f.Strassenname, triggerOn3Char: true)
                        .WithFilterButton())

@ReportViewHelpers.TabellarischReportButtons(Html, "NochNichtInspizierteStrassenabschnitte", "NochNichtInspizierteStrassenabschnitte")

<div class="scrollable-grid-border">
    <div class="scrollable-grid">
        @(Html.Kendo().Grid<NochNichtInspizierteStrassenabschnittePo>()
              .Name("NochNichtInspizierteStrassenabschnitte")
              .ApplyEmsgSettings(editable: false)
              .Columns(columns =>
              {
                  columns.Bound(m => m.Strassenname).Title(GridHeaderFooterLocalization.Strassenname).SumLabel();
                  columns.Bound(m => m.BezeichnungVon).Title(GridHeaderFooterLocalization.BezeichnungVon);
                  columns.Bound(m => m.BezeichnungBis).Title(GridHeaderFooterLocalization.BezeichnungBis);
                  columns.Bound(m => m.Strasseneigentuemer).Hidden();
                  columns.Bound(m => m.StrasseneigentuemerBezeichnung).Title(GridHeaderFooterLocalization.Strasseneigentuemer).Filterable(false);
                  columns.Bound(m => m.BelastungskategorieTyp).Hidden();
                  columns.Bound(m => m.BelastungskategorieBezeichnung).Title(GridHeaderFooterLocalization.BelastungskategorieTyp);
                  columns.Bound(m => m.FlaecheFahrbahn).Title(GridHeaderFooterLocalization.FlaecheFahrbahn).Format(FormatStrings.NoDecimalFormat).Sum();
                  columns.Bound(m => m.FlaecheTrottoirLinks).Title(GridHeaderFooterLocalization.FlaecheTrottoirLinks).Format(FormatStrings.NoDecimalFormat).Sum();
                  columns.Bound(m => m.FlaecheTrottoirRechts).Title(GridHeaderFooterLocalization.FlaecheTrottoirRechts).Format(FormatStrings.NoDecimalFormat).Sum();
              })              
              .DataSource(dataBinding => dataBinding
                  .Ajax()
                  .Read(c => c.Action("GetAll", "NochNichtInspizierteStrassenabschnitte").Data("BuildParameter"))
                  .Model(dataKey => dataKey.Id(m => m.Id))
                  .PageSize(ASTRA.EMSG.Web.Infrastructure.ConstantSettings.GridPageSize)
                  .Aggregates(aggregate =>
                  {
                      aggregate.Add(p => p.FlaecheFahrbahn).Sum();
                      aggregate.Add(p => p.FlaecheTrottoirLinks).Sum();
                      aggregate.Add(p => p.FlaecheTrottoirRechts).Sum();
                  }))
              .Events(c => c.DataBound("OnDataBound")))
    </div>
</div>

<script type="text/javascript">

    function RefreshGrid() {
        common.refreshGrid('#NochNichtInspizierteStrassenabschnitte');
    }

    function GetReportParameter() {
        var reportParameter = {};
        reportParameter.Eigentuemer = $("#Eigentuemer").val();
        reportParameter.Strassenname = $("#Strassenname").val();

        return reportParameter;
    }
</script>
