@using Resources
@using Kendo.Mvc.UI
@{
    ViewBag.ContentDivWidth = 1650;
}
@section JavaScript
{
    <script type="text/javascript" src="@(Url.Content("~/Scripts/Areas/Auswertungen/GisReport.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("~/Scripts/Areas/Auswertungen/MassnahmenvorschlagProZustandsabschnitt/MassnahmenvorschlagProZustandsabschnitt.js"))"></script>
}

<h2>@TitleLocalization.MassnahmenvorschlagProZustandsabschnittPageTitle</h2>
@ReportViewHelpers.ReportIndexContent(Html, (IEnumerable<DropDownListItem>)ViewBag.ClosedErfassungsperiods)