@using Resources
@using Kendo.Mvc.UI

@section JavaScript
{
    <script type="text/javascript" src="@(Url.Content("~/Scripts/Areas/Auswertungen/GisReport.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("~/Scripts/Areas/Auswertungen/ZustandProZustandsabschnitt/ZustandProZustandsabschnitt.js"))"></script>
}

<h2>@TitleLocalization.ZustandProZustandsabschnittPageTitle</h2>
@ReportViewHelpers.ReportIndexContent(Html, (IEnumerable<DropDownListItem>)ViewBag.ClosedErfassungsperiods)