@using Resources
@using System.Linq
@model List<string>
           
@if (Model != null && Model.Any())
{
    <span>@NotificationLocalization.HelpSystemUploadErrorTitle</span>
    <br />
    <br />
    foreach (var error in Model)
    {
        <span style="color: red">@error</span><br />
    }
    <br />    
    <span>@NotificationLocalization.HelpSystemUploadErrorHelp</span>
}
else
{
    <span>@NotificationLocalization.HelpSystemUploadSuccessful</span>
}