@using Resources
<div>
    <table style="width: 100%;">
        <tr>
            <td style="vertical-align: top; width: 100%">
                <div style="min-width: 500px; ">@Html.Partial("GlobalMap")</div>
            </td>
            <td id="formCell" style="vertical-align: top; width: auto; display: none;">
                <div id="FormDiv">@Html.Partial("Form")</div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="inspektionsRtStrAbschnitteListDiv">
                </div>
            </td>
        </tr>
    </table>
</div>