@using Resources
<h2>@TitleLocalization.MandantDetailsPageTitle</h2>
@model ASTRA.EMSG.Business.Models.Administration.MandantDetailsModel
<b>
    @NotificationLocalization.MandantDetailsModelSpeichernWasSuccessfull
</b>