@using Resources
@using Kendo.Mvc.UI
<h2>@TitleLocalization.WiederbeschaffungswertUndWertverlustGrafischePageTitle</h2>
@ReportViewHelpers.ReportIndexContent(Html, (IEnumerable<DropDownListItem>)ViewBag.ClosedErfassungsperiods)