@using Resources
<div id="massnahmenvorschlagTeilsystemeEditFormDiv"
    data-create-action="@Url.Action("Create", "MassnahmenvorschlaegeAndererTeilsysteme")" 
    data-edit-action="@Url.Action("Edit", "MassnahmenvorschlaegeAndererTeilsysteme")"
    data-cancel-confirmation = "@Html.Raw(NotificationLocalization.CancelConfirmation)"
    >
</div>
