@using Resources
@using Kendo.Mvc.UI

@section JavaScript
{
    <script type="text/javascript" src="@(Url.Content("~/Scripts/Areas/Auswertungen/GisReport.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("~/Scripts/Areas/Auswertungen/StrassenabschnitteListe/StrassenabschnitteListe.js"))"></script>
}

<h2>@TitleLocalization.StrassenabschnittListePageTitle</h2>
@ReportViewHelpers.ReportIndexContent(Html, (IEnumerable<DropDownListItem>)ViewBag.ClosedErfassungsperiods)