@using Resources
<div id="koordinierteMassnahmeEditFormDiv"
    data-create-action="@Url.Action("Create", "KoordinierteMassnahmen")" 
     data-edit-action="@Url.Action("Edit", "KoordinierteMassnahmen")"
     data-cancel-confirmation = "@Html.Raw(NotificationLocalization.CancelConfirmation)"
    >
</div>