@using ASTRA.EMSG.Common.Enums

@using Resources
<h2>@TitleLocalization.AchsenEditModePageTitle</h2>
@model ASTRA.EMSG.Business.Models.Administration.ArbeitsmodusModel
<b>
    @NotificationLocalization.AchsenEditModeChangeWasSuccessfull
</b>