<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" requireReinstallation="true" />
  <package id="ClosedXML_NET_4" version="0.60.0" />
  <package id="DocumentFormat.OpenXmlSDK" version="2.0" targetFramework="net461" />
  <package id="DotNetZip" version="1.9.1.8" requireReinstallation="true" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net40" requireReinstallation="true" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" requireReinstallation="true" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net40" requireReinstallation="true" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net40" />
</packages>