@model ASTRA.EMSG.Web.Controllers.TestModel
<div>
    @Html.ActionLink("Simulate Error", "SimulateError")
</div>
<div>
    @Html.ActionLink("Calculate Benchmarking Data", "CalculateBenchmarkingData")
</div>
