<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASTRA.EMSG.Mobile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="LocalizationResourceFileName" value="MobileLocalization.de.resx"/>
        <add key="LocalizationResourceDirectoryPath" value="Resources"/>
        <add key="HelpDirectoryPath" value="Help"/>
        <add key="Language" value="de"/>
        <add key="UseLocalFiles" value="false"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ASTRA.EMSG.Mobile.Properties.Settings>
      <setting name="ExportFolderPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="ImportFolderPath" serializeAs="String">
        <value/>
      </setting>
    </ASTRA.EMSG.Mobile.Properties.Settings>
  </userSettings>
</configuration>
