<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
      <target xsi:type="File" name="TechLoggerFile" fileName="${environment:LOCALAPPDATA}\ASTRA.EMSG\logs\Application.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="14" archiveFileName="${basedir}/logs/Application {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
      <target xsi:type="File" name="PerformanceLoggerFile" fileName="${environment:LOCALAPPDATA}\ASTRA.EMSG\logs\Performance.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="14" archiveFileName="${basedir}/logs/Application {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
  </targets>

  <rules>
    <logger name="TechLogger" minlevel="Trace" writeTo="TechLoggerFile" />
    <logger name="PerformanceLogger" minlevel="Trace" writeTo="PerformanceLoggerFile" />
  </rules>
</nlog>