<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogLevel="Warn" internalLogFile="C:\Temp\EMSGNLog.txt">
  <targets>
    <!--<target xsi:type="EventLog" name="EventLog" source="EMSG" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}"/>-->
    <target xsi:type="Debugger" name="Debugger" />
    <target xsi:type="File" name="NHibernateLogFile" fileName="${basedir}/logs/NHibernateLog IIS.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="HelpLogFile" fileName="${basedir}/logs/HelpLog IIS.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="ApplicationLoggerFile" fileName="${basedir}/logs/Application IIS.log" layout="${longdate} ${uppercase:${level}} [${machinename}] [${aspnet-request:serverVariable=HTTP_URL}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="100" archiveFileName="${basedir}/logs/Application IIS {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="WMSRedirectLoggerFile" fileName="${basedir}/logs/WMSRedirect.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="100" archiveFileName="${basedir}/logs/WMSRedirect {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="IntegrationTestLoggerFile" fileName="${basedir}/logs/IntegrationTestLog IIS.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="14" archiveFileName="${basedir}/logs/IntegrationTestLog IIS {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="ReportingLoggerFile" fileName="${basedir}/logs/ReportingLog IIS.log" layout="${longdate} ${uppercase:${level}} ${message}" maxArchiveFiles="90" archiveFileName="${basedir}/logs/ReportingLog IIS {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="PeformanceLoggerFile" fileName="${basedir}/logs/PeformanceLog IIS.log" layout="${longdate} ${uppercase:${level}} ${message}" maxArchiveFiles="7" archiveFileName="${basedir}/logs/PeformanceLog IIS {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
  </targets>
  <rules>
    <logger minlevel="Debug" name="NHibernate.SQL" writeTo="Debugger" />
    <logger minlevel="Debug" name="IntegrationTestLogger" writeTo="IntegrationTestLoggerFile" />
    <logger minlevel="Debug" name="ApplicationLogger" writeTo="ApplicationLoggerFile" />
    <logger minlevel="Debug" name="ApplicationLogger" writeTo="Debugger" />
    <logger minlevel="Debug" name="WMSRedirectLogger" writeTo="WMSRedirectLoggerFile" />
    <!--<logger minlevel="Debug" name="ApplicationLogger" writeTo="EventLog" />-->
    <logger minlevel="Debug" name="ReportingLogger" writeTo="ReportingLoggerFile" />
    <logger minlevel="Debug" name="ReportingLogger" writeTo="Debugger" />
    <logger minlevel="Debug" name="PeformanceLogger" writeTo="PeformanceLoggerFile" />
    <logger minlevel="Debug" name="PeformanceLogger" writeTo="Debugger" />
    <logger minlevel="Debug" name="HelpLogger" writeTo="HelpLogFile" />
    <logger minlevel="Debug" name="HelpLogger" writeTo="Debugger" />
    <logger minlevel="Debug" name="TechLogger" writeTo="Debugger" />
  </rules>
</nlog>