<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="ExportLayer" type="ASTRA.EMSG.Common.Master.ConfigurationHandling.ExportLayerSection, ASTRA.EMSG.Common.Master, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <ExportLayer>
    <layers>
      <add name="compositeav" url="https://wmts20.geo.admin.ch/1.0.0/WMTSCapabilities.xml" container="Background" isactive="true" order="1" wmslayer="ch.kantone.cadastralwebmap-farbe" servicetype="WMTS" format="image/png">
        <dimensions>
          <add key="Time" value="current" />
        </dimensions>
        <localization>
          <add key="it" value="Dati MU" />
          <add key="de" value="AV-Daten" />
          <add key="fr" value="Donnée MO" />
        </localization>
      </add>
      <add name="gebaeudeWohnungsRegisterLabel" url="http://wms.geo.admin.ch/?REQUEST=GetCapabilities&amp;SERVICE=WMS&amp;VERSION=1.3.0" container="AdditionalInformation" isactive="false" order="2" wmslayer="ch.bfs.gebaeude_wohnungs_register" servicetype="WMS" format="image/png">
        <localization>
          <add key="it" value="N° civico" />
          <add key="de" value="Hausnummern" />
          <add key="fr" value="N° maison" />
        </localization>
      </add>
      <add name="Pixelmap_gray" url="https://wmts.geo.admin.ch/1.0.0/WMTSCapabilities.xml" container="Background" isactive="false" order="3" wmslayer="ch.swisstopo.pixelkarte-grau" servicetype="WMTS" format="image/jpeg">
        <dimensions>
          <add key="Time" value="current" />
        </dimensions>
        <localization>
          <add key="it" value="Carta (bianco/nero)" />
          <add key="de" value="Landeskarte SW" />
          <add key="fr" value="Carte NB" />
        </localization>
      </add>
    </layers>
  </ExportLayer>
  <connectionStrings>
    <add name="Development" connectionString="Data Source=.;Initial Catalog=emsg-local;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
    
    <add key="owin:AppStartup" value="ASTRA.EMSG.Web.App_Start.OwinStartup, ASTRA.EMSG.Web" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UsePrecompiledViews" value="false" />
    <add key="MehrzeiligenEingabefelderMaxLengthInPreview" value="100" />
    <add key="ClientFilesFolderPath" value="~/App_Data/ClientFiles" />
    <add key="SldFilesFolderPath" value="~/App_Data/Sld" />    
    <add key="LogFolderPath" value="~/Logs" />
    <add key="AliveCheckInSec" value="300" />
    <add key="SecurityCacheTimeout" value="5" />
    <add key="EnableJsDebugMode" value="true" />
    <add key="EnableMiniProfiler" value="false" />
    <add key="GisScales" value="378, 945, 1890, 3780, 6000, 9449, 15000, 18898, 28000, 37795, 56000, 75591, 132000, 188976, 283000, 377953, 600000, 944882" />
    <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging" />
    <add key="BemerkungMaxDisplayLength" value="20" />
    <!--Inspektionsroute Export Settings-->
    <add key="ExportBackgroundMapScale" value="500" />
    <add key="ExportBackgroundMapMaxPixelCount" value="100000000" />
    <add key="ExportTileLimit" value="2000" />
    <add key="ExportBackgroundMapScaleSteps" value="500" />
    <add key="ExportBackgroundMapDPI" value="96" />
    <add key="ExportBackgroundMapBuffer" value="500" />
    <add key="ExportThreads" value="6" />
    <add key="UseWMSCaching" value="true" />
    <add key="WMSCacheFolderPath" value="~/App_Data/WMSCache/" />
    <!--EMSG WMS settings-->

    <add key="WMS_Url_Development" value="#TODO#"/> <!-- GeoServer connection (e.g.: "../geoserver/EMSG/wms") -->
    
    <!-- ENABLED Background MAP, WMTS Mode -->
    <add key="Landeskarte_Type" value="WMTS" />
    <add key="Landeskarte_Parameters" value="{ Time: &quot;current&quot; }" />
    <add key="Landeskarte_Urls" value="https://wmts5.geo.admin.ch/;https://wmts6.geo.admin.ch/;https://wmts7.geo.admin.ch/;https://wmts8.geo.admin.ch/;https://wmts9.geo.admin.ch/" />
    <add key="Landeskarte_Layers" value="ch.swisstopo.pixelkarte-farbe;ch.swisstopo.pixelkarte-grau" />
    <add key="Landeskarte_PrintMapping" value="ch.swisstopo.pixelkarte-farbe;ch.swisstopo.pixelkarte-grau" />
    <add key="Orthophoto_Type" value="WMTS" />
    <add key="Orthophoto_Parameters" value="{ Time: &quot;current&quot; }" />
    <add key="Orthophoto_Urls" value="https://wmts5.geo.admin.ch/;https://wmts6.geo.admin.ch/;https://wmts7.geo.admin.ch/;https://wmts8.geo.admin.ch/;https://wmts9.geo.admin.ch/" />
    <add key="Orthophoto_Layers" value="ch.swisstopo.swissimage" />
    <add key="Orthophoto_PrintMapping" value="ch.swisstopo.swissimage" />
    <!-- DISABLED Background Map, WMS Mode
         Background MAP CONFIGURATION, DISABLED WHILE THE SYSTEM USES WMTS BG MAPS.
    <add key="Landeskarte_Type" value="WMS" />
    <add key="Landeskarte_Urls" value="/NetzverwaltungGIS/WMS/GetMap" />
    <add key="Landeskarte_Layers" value="Pixelmap_color;Pixelmap_gray;swissimage" />
    -->
    <!-- ENABLED AV-MAP, WMTS Mode -->
    <add key="AvHintergrund_Type" value="WMTS" />
    <add key="AvHintergrund_Urls" value="https://wmts20.geo.admin.ch/1.0.0/ch.kantone.cadastralwebmap-farbe/default/{TIME}/21781/{TileMatrix}/{TileCol}/{TileRow}.png;https://wmts21.geo.admin.ch/1.0.0/ch.kantone.cadastralwebmap-farbe/default/{TIME}/21781/{TileMatrix}/{TileCol}/{TileRow}.png;https://wmts22.geo.admin.ch/1.0.0/ch.kantone.cadastralwebmap-farbe/default/{TIME}/21781/{TileMatrix}/{TileCol}/{TileRow}.png;https://wmts23.geo.admin.ch/1.0.0/ch.kantone.cadastralwebmap-farbe/default/{TIME}/21781/{TileMatrix}/{TileCol}/{TileRow}.png;https://wmts24.geo.admin.ch/1.0.0/ch.kantone.cadastralwebmap-farbe/default/{TIME}/21781/{TileMatrix}/{TileCol}/{TileRow}.png" />
    <add key="AvHintergrund_Layers" value="ch.kantone.cadastralwebmap-farbe" />
    <add key="AvHintergrund_Parameters" value="{ TIME: &quot;current&quot; }" />
    <add key="AvHintergrund_PrintMapping" value="ch.kantone.cadastralwebmap-farbe" />
    <!-- DISABLED AV - MAP
         AV MAP CONFIGURATION, DISABLED WHILE THE SYSTEM USES WMTS AV MAPS.
         If those maps aren't provided or access is denied comment the AV-WMTS Section and de-comment this section.
         
    <add key="AvHintergrund_Type" value="WMS" />
    <add key="AvHintergrund_Urls" value="/NetzverwaltungGIS/WMS/GetAvc" />
    <add key="AvHintergrund_Layers" value="LCSFC,LOCPOS,LNNA,RESF,OSNR" />
    -->
    <add key="Grenzflaeche_Type" value="WMS" />
    <add key="Grenzflaeche_Urls" value="/NetzverwaltungGIS/WMS/GetMap" />
    <add key="Grenzflaeche_Layers" value="ch.swisstopo.swissboundaries3d-gemeinde-flaeche" />
    <add key="AvUeberlagernd_Type" value="WMS" />
    <add key="AvUeberlagernd_Urls" value="/NetzverwaltungGIS/WMS/GetAv" />
    <add key="AvUeberlagernd_Layers" value="ch.bfs.gebaeude_wohnungs_register" />
    <!--<add key="Zusatzinformationen_Type" value="WMTS" />
    <add key="Zusatzinformationen_Urls" value="https://wmts5.geo.admin.ch/;https://wmts6.geo.admin.ch/;https://wmts7.geo.admin.ch/;https://wmts8.geo.admin.ch/;https://wmts9.geo.admin.ch/" />
    <add key="Zusatzinformationen_Layers" value="ch.bafu.laerm-strassenlaerm_tag;ch.bafu.laerm-strassenlaerm_nacht;ch.bafu.laerm-bahnlaerm_tag;ch.bafu.laerm-bahnlaerm_nacht" />
    <add key="Zusatzinformationen_Parameters" value="{ Time: 20101111 }" />-->
    <add key="Zusatzinformationen_Type" value="WMS" />
    <add key="Zusatzinformationen_Urls" value="/NetzverwaltungGIS/WMS/GetAv" />
    <add key="Zusatzinformationen_Layers" value="ch.bafu.laerm-strassenlaerm_tag;ch.bafu.laerm-strassenlaerm_nacht;ch.bafu.laerm-bahnlaerm_tag;ch.bafu.laerm-bahnlaerm_nacht" />
    <add key="ZusatzinformationenGWVK_Type" value="WMTS" />
    <add key="ZusatzinformationenGWVK_Urls" value="https://wmts5.geo.admin.ch/;https://wmts6.geo.admin.ch/;https://wmts7.geo.admin.ch/;https://wmts8.geo.admin.ch/;https://wmts9.geo.admin.ch/" />
    <add key="ZusatzinformationenGWVK_Layers" value="ch.swisstopo.geologie-hydrogeologische_karte-grundwasservorkommen" />
    <add key="ZusatzinformationenGWVK_Parameters" value="{ Time: 20081103 }" />
    <add key="ZusatzinformationenGWVUL_Type" value="WMTS" />
    <add key="ZusatzinformationenGWVUL_Urls" value="https://wmts5.geo.admin.ch/;https://wmts6.geo.admin.ch/;https://wmts7.geo.admin.ch/;https://wmts8.geo.admin.ch/;https://wmts9.geo.admin.ch/" />
    <add key="ZusatzinformationenGWVUL_Layers" value="ch.swisstopo.geologie-hydrogeologische_karte-grundwasservulnerabilitaet" />
    <add key="ZusatzinformationenGWVUL_Parameters" value="{ Time: 20081016 }" />
    <add key="ZusatzinformationenKBS_Type" value="WMS" />
    <add key="ZusatzinformationenKBS_Urls" value="/NetzverwaltungGIS/WMS/GetAv" />
    <add key="ZusatzinformationenKBS_Layers" value="ch.bav.kataster-belasteter-standorte-oev" />
    <add key="WMS_SWSISSTOPO_Url" value="#TODO#" />
    <add key="WMTS_SWSISSTOPO_Url_EMSG" value="https://wmts.geo.admin.ch/" />
    <add key="WMTS_SWSISSTOPO_Use_Controler" value="false" />
    <add key="WMTS_SWSISSTOPO_Urls_EMSG" value="https://wmts5.geo.admin.ch/;https://wmts6.geo.admin.ch/;https://wmts7.geo.admin.ch/;https://wmts8.geo.admin.ch/;https://wmts9.geo.admin.ch/" />
    <add key="WMTS_SWSISSTOPO_AV_Layer" value="ch.kantone.cadastralwebmap-farbe" />
    <!--Swisstopo AV-WMS-->
    <add key="WMS_AV_Url_EMSG" value="http://wms.geo.admin.ch/" />
    <!-- CDN for Swisstopo Services-->
    <!--<add key="CDN_URLS" value="http://CDN01.localhost:51435,http://CDN02.localhost:51435,http://CDN03.localhost:51435,http://CDN04.localhost:51435" />-->
    <!--Swisstopo UserName and Password-->
    <add key="WMTS_SWSISSTOPO_USERNAME" value="" />
    <add key="WMTS_SWSISSTOPO_PASSWORD" value="" />
    <add key="WMS_AV_USERNAME" value="" />
    <add key="WMS_AV_PASSWORD" value="" />
    <!-- AV Layer SWMS -->
    <add key="SWMS_AV_Url_EMSG" value="#TODO#" /> <!--MapProxy service path (next to the GeoServer. e.g.: "../mapproxy/service?" )-->
    <add key="SWMS_AV_USERNAME" value="" />
    <add key="SWMS_AV_PASSWORD" value="" />
    <!-- !-Layer definition ACHSENUPDATE KONFLIKTE-->
    <add key="AchsenUpdateKonflikteLayer" value="AchsenUpdateKonflikte" />
    <!-- !-Layer definition MASSNAHMEN-->
    <add key="KoordinierteMassnahmenLayer" value="KoordinierteMassnahmen" />
    <add key="MassnahmenVorschlagTeilsystemeLayer" value="MassnahmenVorschlagTeilsysteme" />
    <add key="RealisierteMassnahmenLayer" value="RealisierteMassnahmeGIS" />
    <!-- !-Layer definition NEZDEFINITION-->
    <add key="InspektionsroutenLayer" value="Inspektionsroute" />
    <add key="ZustandsabschnittLayer" value="Zustandsabschnitt" />
    <add key="ZustandsabschnittLayer_Trottoir" value="ZustandtrottoirLeft,ZustandtrottoirRight" />
    <add key="StrassenabschnittLayer" value="StrassenabschnittGISBK" />
    <add key="StrassenabschnittLayer_SingleColor" value="Strassenabschnitt" />
    <!-- !-Layer definition REPORTING-->
    <add key="ZustandabschnittLayer_MassnahmeTyp" value="Zustandsabschnitt_Massnahmetyp_Auswertung" />
    <add key="ZustandabschnittLayer_Trottoir_MassnahmeTyp" value="Zustandsabschnitt_Massnahmetyp_Trottoir_AuswertungLeft,Zustandsabschnitt_Massnahmetyp_Trottoir_AuswertungRight" />
    <add key="ZustandabschnittLayer_Index" value="Zustandabschnitt_Index" />
    <add key="ZustandabschnittLayer_Trottoir_Index" value="Zustandsabschnitt_Trottoir_AuswertungLeft,Zustandsabschnitt_Trottoir_AuswertungRight" />
    <add key="StrassenabschnittLayer_Report" value="Strassenabschnitt_Auswertung" />
    <add key="StrassenabschnittLayer_Report_Grey" value="Strassenabschnitt_Auswertung_Gray" />
    <add key="Inspektionsroute_StrassenabschnittLayer_Report" value="Inspektionsroute_Strassenabschnitt_Auswertung" />
    <add key="KoordinierteMassnahmeGIS_Report" value="KoordinierteMassnahme_Auswertung" />
    <add key="MassnahmenvorschlagTeilsystemeGIS_Report" value="MassnahmenvorschlagTeilsysteme_Auswertung" />
    <!-- !-Layer definition ACHSENSEGMENTE-->
    <add key="AchsenSegmentLayer" value="AchsenSegment" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<authentication mode="Windows">-->
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880" />-->
    <!--</authentication>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <httpRuntime executionTimeout="600" maxRequestLength="40960" />
    <customErrors mode="On" />
    <sessionState timeout="720" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>