<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogLevel="Warn" internalLogFile="C:\Temp\EMSGNLog.txt">
  <targets>
    <!--<target xsi:type="EventLog" name="EventLog" source="EMSG" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}"/>-->
    <target xsi:type="Debugger" name="Debugger" />
    <target xsi:type="File" name="NHibernateLogFile" fileName="${basedir}/logs/NHibernateLog AIS.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="TechLoggerFile" fileName="${basedir}/logs/Application Windows Service AIS.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="14" archiveFileName="${basedir}/logs/Application {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="IntegrationTestLoggerFile" fileName="${basedir}/logs/IntegrationTestLog AIS.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message} ${newline} ${exception:format=tostring:maxInnerExceptionLevel=1:innerFormat=tostring} ${newline}" maxArchiveFiles="14" archiveFileName="${basedir}/logs/IntegrationTestLog {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="PeformanceLoggerFile" fileName="${basedir}/logs/PeformanceLog AIS.log" layout="${longdate} ${uppercase:${level}} ${message}" maxArchiveFiles="7" archiveFileName="${basedir}/logs/PeformanceLog {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
    <target xsi:type="File" name="BusinessLoggerFile" fileName="${basedir}/logs/BusinessLog AIS.log" layout="${longdate} ${uppercase:${level}} [${machinename}] (${windows-identity}) ${message}" maxArchiveFiles="28" archiveFileName="${basedir}/logs/BusinessLog {##}.log" archiveNumbering="Rolling" archiveEvery="Day" />
  </targets>
  <rules>
    <logger minlevel="Debug" name="NHibernate.SQL" writeTo="Debugger" />
    <logger minlevel="Debug" name="TechLogger" writeTo="TechLoggerFile" />
    <logger minlevel="Debug" name="IntegrationTestLogger" writeTo="IntegrationTestLoggerFile" />
    <logger minlevel="Debug" name="TechLogger" writeTo="Debugger" />
    <logger minlevel="Debug" name="PeformanceLogger" writeTo="PeformanceLoggerFile" />
    <logger minlevel="Debug" name="PeformanceLogger" writeTo="Debugger" />
    <logger minlevel="Debug" name="BusinessLogger" writeTo="BusinessLoggerFile" />
    <logger minlevel="Debug" name="BusinessLogger" writeTo="Debugger" />
  </rules>
</nlog>