<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.NLog41" version="3.3.1" targetFramework="net40" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net40" requireReinstallation="true" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net40" requireReinstallation="true" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net40" />
  <package id="NHibernate.Spatial.MsSql" version="4.0.4.4001" targetFramework="net40" />
  <package id="NLog" version="4.2.3" targetFramework="net40" requireReinstallation="true" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net40" />
</packages>